@* Students Dropdown menu *@
<li class="nav-item dropdown">
    <a title="Students" class="nav-link dropdown-toggle text-light" href="#"
       id="studentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-address-book"></i> Students
    </a>
    <div class="dropdown-menu" aria-labelledby="studentDropdown">
        <a class="dropdown-item" asp-controller="Student" asp-action="Index"><i class="fas fa-users"></i> Students</a>
        <a class="dropdown-item" asp-controller="Course" asp-action="Index"><i class="fas fa-book"></i> Courses</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Enrollments" asp-action="Index"><i class="fas fa-tasks"></i> Enrollment</a>
        <a class="dropdown-item" asp-controller="Student" asp-action="Stats"><i class="fas fa-chart-bar"></i> Stats Report</a>
    </div>
</li>

@* Faculty Dropdown menu *@
<li class="nav-item dropdown">
    <a title="Faculty" class="nav-link dropdown-toggle text-light" href="#"
       id="facultyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-building"></i> Faculty
    </a>
    <div class="dropdown-menu" aria-labelledby="facultyDropdown">
        <a class="dropdown-item" asp-controller="Instructor" asp-action="Index"><i class="fas fa-chalkboard-teacher"></i> Instructors</a>
        <a class="dropdown-item" asp-controller="Department" asp-action="Index"><i class="fas fa-sitemap"></i> Departments</a>

    </div>
</li>
