
@{
    ViewData["Title"] = "About Us";
}

<div id="about" class="row mb-2">
    <div class="col-md-12">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, cadipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde fuga error commodi architecto, laudantium culpa tenetur at id, beatae pet.</p>
    </div>

    <div class="col-md-6">
        <img src="~/images/about.jpg" alt="About Us" class="img-fluid"/>
    </div>

    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, cadipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde fuga error commodi architecto, laudantium culpa tenetur at id, beatae pet.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. adipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium,m deserunt.</p>
        <ul class="list-unstyled">
            <li><i class="fa fa-arrow-circle-right"></i> Lorem ipsum enimdolor sit amet</li>
            <li><i class="fa fa-arrow-circle-right"></i> Explicabo deleniti neque aliquid</li>
            <li><i class="fa fa-arrow-circle-right"></i> Consectetur adipisicing elit</li>
            <li><i class="fa fa-arrow-circle-right"></i> Lorem ipsum dolor sit amet</li>
            <li><i class="fa fa-arrow-circle-right"></i> Quo issimos molest quibusdam temporibus</li>
        </ul>
    </div>
</div>